{% extends 'base.html.twig' %}

{% block title %}Ginko art tattoo{% endblock %}

{% block body %}
    <!-- Header Banner -->
    <section class="banner-header full-height valign bg-img bg-fixed" data-overlay-dark="4" data-background="img/slider/7.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-left caption mt-90">
                    <h5 class="animate-box" data-animate-effect="fadeInUp"><a href="index.html">Home</a> / Aftercare</h5>
                    <h1 class="animate-box" data-animate-effect="fadeInUp">Aftercare</h1>
                    <hr class="animate-box" data-animate-effect="fadeInUp">
                    <p class="animate-box" data-animate-effect="fadeInUp">We provide expert guidance and high-quality artistry. Tattoo viverra tristique usto vitae diam neque nivamus aestan the artine arinianu finibus viverra.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- hr -->
    <div class="line-vr-section"></div>
    <!-- Aftercare -->
    <section class="section-padding">
        <div class="container">
            <div class="about-info">
                <div class="row">
                    <div class="col-md-4">
                        <div class="about-info-img mb-30">
                            <div class="img"> <img src="img/aftercare.jpg" class="img-fluid" alt=""> </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h2 class="section-title2">Tattoo Aftercare</h2>
                        <p>We’ve provided these helpful aftercare instructions to ensure the health of your tattoo. Healing normally occurs within 1 to 2 weeks. Following these tattoo aftercare instructions will help to ensure its vibrance and quality as it heals. Please avoid exposing it to direct sunlight.</p>
                        <ul class="about-list list-unstyled mb-30">
                            <li>
                                <div class="about-list-icon"> <span class="ti-check"></span> </div>
                                <div class="about-list-text">
                                    <p>Following these tattoo aftercare instructions will help to ensure its vibrance and quality as it heals.</p>
                                </div>
                            </li>
                            <li>
                                <div class="about-list-icon"> <span class="ti-check"></span> </div>
                                <div class="about-list-text">
                                    <p>Wash hands thoroughly prior to touching your tattoo for any reason.</p>
                                </div>
                            </li>
                            <li>
                                <div class="about-list-icon"> <span class="ti-check"></span> </div>
                                <div class="about-list-text">
                                    <p>Pat dry with a clean cloth or towel.</p>
                                </div>
                            </li>
                            <li>
                                <div class="about-list-icon"> <span class="ti-check"></span> </div>
                                <div class="about-list-text">
                                    <p>Apply a small amount of ointment to tattoo for the first 4 days.</p>
                                </div>
                            </li>
                            <li>
                                <div class="about-list-icon"> <span class="ti-check"></span> </div>
                                <div class="about-list-text">
                                    <p>Continue this regiment until the tattoo is fully under the skin.</p>
                                </div>
                            </li>
                            <li>
                                <div class="about-list-icon"> <span class="ti-check"></span> </div>
                                <div class="about-list-text">
                                    <p>For any questions, concerns, or continued care, reach out to us online, or walk-in to the shop.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 mt-90">
                        <h2 class="section-title2">Piercing Aftercare</h2>
                        <p>We’ve provided these helpful aftercare instructions to ensure the health of your piercing. Healing times may vary greatly from person to person though, in most cases, a well maintained piercing will feel and appear healed within about 4 weeks.</p>
                        <ul class="about-list list-unstyled mb-30">
                            <li>
                                <div class="about-list-icon"> <span class="ti-check"></span> </div>
                                <div class="about-list-text">
                                    <p>Wash your hands thoroughly prior to cleaning or touching your piercing for any reason.</p>
                                </div>
                            </li>
                            <li>
                                <div class="about-list-icon"> <span class="ti-check"></span> </div>
                                <div class="about-list-text">
                                    <p>Using mild (fragrance-free, alcohol-free) soap, gently lather around the piercing.</p>
                                </div>
                            </li>
                            <li>
                                <div class="about-list-icon"> <span class="ti-check"></span> </div>
                                <div class="about-list-text">
                                    <p>Rinse area thoroughly to remove all traces of soap from the piercing.</p>
                                </div>
                            </li>
                            <li>
                                <div class="about-list-icon"> <span class="ti-check"></span> </div>
                                <div class="about-list-text">
                                    <p>Use saline rinse 2 times daily during healing on the front and back of your piercing.</p>
                                </div>
                            </li>
                            <li>
                                <div class="about-list-icon"> <span class="ti-check"></span> </div>
                                <div class="about-list-text">
                                    <p>Refrain from unnecessary handling of the piercing.</p>
                                </div>
                            </li>
                            <li>
                                <div class="about-list-icon"> <span class="ti-check"></span> </div>
                                <div class="about-list-text">
                                    <p>For any questions, concerns, or continued care, reach out to us online, or walk-in to the shop.</p>
                                </div>
                            </li>
                            <li>
                                <div class="about-list-icon"> <span class="ti-check"></span> </div>
                                <div class="about-list-text">
                                    <p>When in doubt, wash and spray twice a day!</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <div class="about-info-img pt-60">
                            <div class="img"> <img src="img/aftercare2.jpg" class="img-fluid" alt=""> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Promo video - Testiominals -->
    <section class="testimonials video-wrapper video">
        <div class="background bg-img bg-fixed section-padding pb-0" data-background="img/slider/2.jpg" data-overlay-dark="3">
            <div class="container">
                <div class="row">
                    <!-- Promo video -->
                    <div class="col-md-7 mb-30">
                        <div class="vid-area valign">
                            <a class="vid" href="https://youtu.be/UCRNVgJJ97w"> <span class="icon"> <i class="ti-control-play"></i> </span> </a>
                            <div class="cont">
                                <h5>Promo Video</h5>
                            </div>
                        </div>
                    </div>
                    <!-- Testiominals -->
                    <div class="col-md-5 animate-box" data-animate-effect="fadeInUp">
                        <div class="testimonials-box">
                            <div class="owl-carousel owl-theme">
                                <div class="item"> <span class="quote"><img src="img/quot.png" alt=""></span>
                                    <p class="v-border">Tattoo viverra tristique duis vitae dias the nesueten niva aestan ateuene artines duruna setlie suscena fermen uisque sed tellus man lorem nullaman the rana tortor in the felis fermen.</p>
                                    <div class="info">
                                        <div class="author-img"> <img src="img/team/1.jpg" alt=""> </div>
                                        <div class="cont">
                                            <h6>Jason Brown</h6> <span>Customer Review</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item"> <span class="quote">
                                        <img src="img/quot.png" alt="">
                                    </span>
                                    <p class="v-border">Tattoo viverra tristique duis vitae dias the nesueten niva aestan ateuene artines duruna setlie suscena fermen uisque sed tellus man lorem nullaman the rana tortor in the felis fermen.</p>
                                    <div class="info">
                                        <div class="author-img"> <img src="img/team/2.jpg" alt=""> </div>
                                        <div class="cont">
                                            <h6>Emily White</h6> <span>Customer Review</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Clients -->
    <section class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                <div class="owl-carousel owl-theme">
                    <div class="clients-logo">
                        <a href="#0"><img src="img/clients/1.png" alt=""></a>
                    </div>
                    <div class="clients-logo">
                        <a href="#0"><img src="img/clients/2.png" alt=""></a>
                    </div>
                    <div class="clients-logo">
                        <a href="#0"><img src="img/clients/3.png" alt=""></a>
                    </div>
                    <div class="clients-logo">
                        <a href="#0"><img src="img/clients/4.png" alt=""></a>
                    </div>
                    <div class="clients-logo">
                        <a href="#0"><img src="img/clients/5.png" alt=""></a>
                    </div>
                    <div class="clients-logo">
                        <a href="#0"><img src="img/clients/6.png" alt=""></a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
