{% extends 'base.html.twig' %}

{% block title %}Ginko art tattoo{% endblock %}

{% block body %}
<!-- Header Banner -->
    <section class="banner-header full-height section-padding valign bg-img bg-fixed" data-overlay-dark="4" data-background="img/slider/8.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-6 caption mt-90">
                    <h5 class="animate-box" data-animate-effect="fadeInUp"><a href="index.html">Home</a> / Team</h5>
                    <h1 class="animate-box" data-animate-effect="fadeInUp">Meet Our Artists</h1>
                    <hr class="animate-box" data-animate-effect="fadeInUp">
                    <p class="animate-box" data-animate-effect="fadeInUp">Lorem arena nuam enim mi obortis esen the uctus accumsan golden isuame amen auctor orci done vitae vehicula risus duise nun sapien asuam.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- hr -->
    <div class="line-vr-section"></div>
    <!-- Team -->
    <section class="team section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-60 animate-box" data-animate-effect="fadeInUp">
                    <div class="item right">
                        <figure><img src="img/team/7.jpg" alt="" class="img-fluid"></figure>
                        <div class="caption padding-left">
                            <div class="name">Andreas Martin</div>
                            <div class="subname">Piercing Artist</div>
                            <p>Tattoo aliquet miss orci elit gene on tristique in the dream vitaen aliuam lorem tincidunt felis sed gravida aliquam the neque miss blue hendren mavition duru sapien mana amenta the mollis.</p> <a href="team-details.html" class="btn-curve btn-1 mt-10"><span>View Details</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mb-60 animate-box" data-animate-effect="fadeInUp">
                    <div class="item right">
                        <figure><img src="img/team/8.jpg" alt="" class="img-fluid"></figure>
                        <div class="caption padding-left">
                            <div class="name">Daniel Brown</div>
                            <div class="subname">Tattoo Artist</div>
                            <p>Tattoo aliquet miss orci elit gene on tristique in the dream vitaen aliuam lorem tincidunt felis sed gravida aliquam the neque miss blue hendren mavition duru sapien mana amenta the mollis.</p> <a href="team-details.html" class="btn-curve btn-1 mt-10"><span>View Details</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 animate-box" data-animate-effect="fadeInUp">
                    <div class="item right">
                        <figure><img src="img/team/9.jpg" alt="" class="img-fluid"></figure>
                        <div class="caption padding-left">
                            <div class="name">Jason White</div>
                            <div class="subname">Tattoo Artist</div>
                            <p>Tattoo aliquet miss orci elit gene on tristique in the dream vitaen aliuam lorem tincidunt felis sed gravida aliquam the neque miss blue hendren mavition duru sapien mana amenta the mollis.</p> <a href="team-details.html" class="btn-curve btn-1 mt-10"><span>View Details</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Promo video - Testiominals -->
    <section class="testimonials video-wrapper video">
        <div class="background bg-img bg-fixed section-padding pb-0" data-background="img/slider/2.jpg" data-overlay-dark="3">
            <div class="container">
                <div class="row">
                    <!-- Promo video -->
                    <div class="col-md-7 mb-30">
                        <div class="vid-area valign">
                            <a class="vid" href="https://youtu.be/UCRNVgJJ97w"> <span class="icon"> <i class="ti-control-play"></i> </span> </a>
                            <div class="cont">
                                <h5>Promo Video</h5>
                            </div>
                        </div>
                    </div>
                    <!-- Testiominals -->
                    <div class="col-md-5 animate-box" data-animate-effect="fadeInUp">
                        <div class="testimonials-box">
                            <div class="owl-carousel owl-theme">
                                <div class="item"> <span class="quote"><img src="img/quot.png" alt=""></span>
                                    <p class="v-border">Tattoo viverra tristique duis vitae dias the nesueten niva aestan ateuene artines duruna setlie suscena fermen uisque sed tellus man lorem nullaman the rana tortor in the felis fermen.</p>
                                    <div class="info">
                                        <div class="author-img"> <img src="img/team/1.jpg" alt=""> </div>
                                        <div class="cont">
                                            <h6>Jason Brown</h6> <span>Customer Review</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item"> <span class="quote">
                                        <img src="img/quot.png" alt="">
                                    </span>
                                    <p class="v-border">Tattoo viverra tristique duis vitae dias the nesueten niva aestan ateuene artines duruna setlie suscena fermen uisque sed tellus man lorem nullaman the rana tortor in the felis fermen.</p>
                                    <div class="info">
                                        <div class="author-img"> <img src="img/team/2.jpg" alt=""> </div>
                                        <div class="cont">
                                            <h6>Emily White</h6> <span>Customer Review</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Clients -->
    <section class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                <div class="owl-carousel owl-theme">
                    <div class="clients-logo">
                        <a href="#0"><img src="img/clients/1.png" alt=""></a>
                    </div>
                    <div class="clients-logo">
                        <a href="#0"><img src="img/clients/2.png" alt=""></a>
                    </div>
                    <div class="clients-logo">
                        <a href="#0"><img src="img/clients/3.png" alt=""></a>
                    </div>
                    <div class="clients-logo">
                        <a href="#0"><img src="img/clients/4.png" alt=""></a>
                    </div>
                    <div class="clients-logo">
                        <a href="#0"><img src="img/clients/5.png" alt=""></a>
                    </div>
                    <div class="clients-logo">
                        <a href="#0"><img src="img/clients/6.png" alt=""></a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
